body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e86b76;
}
#app-container {
  width: 400px;
  background-color: var(--fundo-secundario);
  padding: 40px;
  border-radius: 12px;
  box-shadow: var(--sombra);
  border: 2px solid #df57af00;
  background-color: #FFFFFF;
}
.login-logo {
  display: block;
  width: 200px;
  height: auto;
  margin: 0 auto 30px;
  margin-top: 0px;
}
h2 {
  color: #4A4A4A;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}
p {
  text-align: center;
  color: #888888;
  font-size: 14px;
}
a {
  color: #3678e4;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  text-decoration: underline;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}
.modal-content {
  background-color: var(--fundo-secundario);
  padding: 30px;
  border-radius: 12px;
  box-shadow: var(--sombra);
  width: 90%;
  max-width: 400px;
  text-align: center;
  position: relative;
  animation: fadeIn 0.3s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  color: var(--texto-secundario);
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.close-button:hover {
  color: var(--texto-principal);
}
#modal-message {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.5;
}
#modal-ok-button {
  width: 120px;
  margin: 0 auto;
}

.modal-content #modal-message {
  color: var(--texto-principal);
}

button {
    width: 100%;
    padding: 12px;
    background-color:#e86a74;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.2s, transform 0.2s;
}
button:hover {
    background-color: #ca5d66;
    transform: translateY(-1px);
}